body {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.full_height {
  height: 100vh;
}

.control-row {
  display: block;
  clear: both;
  overflow: auto;
}

.subtitles, .audiotracks {
  overflow: visible !important;
}

.control-row button {
  width: 14.66%;
  padding-top: 12.66%;
  margin: 1%;
  background-size: cover;
  background-position: center;
  display: block;
  float: left;
}

.error {
  padding: 1%;
  color: red;
  font-weight: bolder;
}

button.back {
  background-image: url("/img/btn/back30.png");
}

button.play {
  background-image: url("/img/btn/play.png");
}

button.pause {
  background-image: url("/img/btn/pause.png");
}

button.forward {
  background-image: url("/img/btn/forward30.png");
}

button.stop {
  background-image: url("/img/btn/stop.png");
}

button.auto {
  background-image: url("/img/btn/magic.png");
}

button.wmp {
  background-image: url("/img/btn/wmp.png");
}

button.vlc {
  background-image: url("/img/btn/vlc.png");
}

button.audio {
  background-image: url("/img/btn/audio.png");
}

button.subtitle {
  background-image: url("/img/btn/subtitle.png");
}

button.screen {
  background-image: url("/img/btn/screen.png");
}

button.browse {
  background-image: url("/img/btn/browse.png");
}

button.remote {
  background-image: url("/img/btn/remote.png");
}

button.refresh {
  background-image: url("/img/btn/refresh.png");
}

button.fullscreen {
  background-image: url("/img/btn/fullscreen.png");
}

.slider-container {
  width: 80%;
  display: block;
  float: left;
  padding: 3.6% 14px 0 28px;
}

button.mute {
  background-image: url("/img/btn/mute.png");
}

button.sound {
  background-image: url("/img/btn/sound.png");
}

button.info {
  background-image: url("/img/btn/info.png");
}

.current-file {
  width: 80%;
  display: inline-block;
  padding: 0 0 0 5%;
}

.player {
  display: block;
  clear: both;
}

.browser {
  display: block;
  clear: both;
  margin-top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.browser ul {
  margin: 1%;
}

.Dropdown-root {
  width: 98% !important;
}
